* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  border: 1px solid black;
}

.navelements {
  display: flex;
  list-style-type: none;
}

.nav-element {
  margin: 1.5vw 4vw;
}
