* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: rgb(255, 252, 245);
}

.navbar {
  display: flex;
  justify-content: flex-end;
  height: 10vh;

  background-color: rgb(243, 239, 231);
}

.navelements {
  display: flex;
  list-style-type: none;
}

.nav-element {
  margin: 1.5vw 4vw;
}
.nav-element:hover {
  text-decoration: underline;
}

#hero {
  display: flex;
  width: 100%;
  height: 100vh;
}

#img {
  width: 100%;
  height: 100%;
  background-size: contain;
}

.division {
  display: flex;
  margin-left: 4vw;
  margin-bottom: 4vw;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 300px;
  height: 50px;
  font-size: xx-large;
  background-color: rgb(255, 252, 245);
}

.ab-element {
  list-style-type: circle;
  margin-left: 2em;
  margin-top: 0.5em;
}

.about-list {
  margin-top: 1em;
}

.aboutme-block {
  display: flex;
  flex-direction: column;
}

.about-me {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid black;
  align-self: flex-end;
  width: 60vw;
  margin-right: 10vw;
  border-radius: 10px;
  padding: 5vh 0;
  background-color: rgb(255, 252, 245);
}
#aboutme {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 4vw;
}

#foto-perfil {
  margin-top: 4vh;
}

#info-aboutme {
  margin: 0px 2vw 0 5vw;
}

#experience-block {
  display: flex;
  flex-direction: column;
}

.experience {
  display: flex;
  justify-content: flex-end;
  border: 1px solid black;
  border-radius: 10px;
  align-items: center;
  width: 50vw;
  align-self: flex-end;
  margin-right: 10vw;
  margin-bottom: 10vh;
  padding: 4vh 0 4vh 2vw;
  background-color: rgb(255, 252, 245);
}

.exp-elements {
  list-style-type: none;
}

.exp-element {
  margin: 0.5em 0;
  margin-left: 1em;
}

section {
  margin: 10vh 0;
}

.img-proyecto {
  height: 50vh;
  margin-right: 1vw;
}

.info-experience {
  display: flex;
  flex-direction: column;
  margin-right: 1vw;
}

.project-name {
  display: flex;
  align-self: center;
  font-size: x-large;
  margin-bottom: 0.5em;
}

#img-zkygo {
  width: 25vw;
  margin: 1vw;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  height: 25px;
  padding-left: 1vw;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: rgb(255, 252, 245);
  border: 1px solid black;
}

.button-submit {
  height: 5vh;
  background-color: transparent;
  background-color: rgb(255, 252, 245);
  border: 1px solid black;
  border-radius: 8px;
}

textarea {
  align-self: center;
  padding-left: 1vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  height: 300px;
  width: 60vw;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  background-color: rgb(255, 252, 245);
  border: 1px solid black;
}

.social-network {
  display: flex;
  flex-direction: column;
}

.sn {
  display: flex;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  align-items: center;
  width: 250px;
  padding: 0vw 1vw;
  margin: 2vh;
  background-color: rgb(255, 252, 245);
}

.info-contactme {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#contact-me {
  margin-bottom: 4vh;
}

button {
  cursor: pointer;
  font-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.grafico {
  display: flex;
  flex-direction: row;
}

.numeros {
  align-self: flex-end;
  border-right: 1px solid black;
}

.numero {
  display: flex;
  height: 39px;
  border-top: 1px solid black;
  justify-content: center;
  width: 20px;
}

.space {
  display: flex;
  height: 39px;
  justify-content: center;
  width: 20px;
  border-right: 1px solid black;
}

.valores {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.skills-names {
  display: flex;
  flex-direction: row;
  border-top: 1px solid black;
}

.skill-name {
  width: 80px;
  justify-content: center;
  text-align: center;
  height: 25px;
}

.grafica-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background-color: rgb(255, 252, 245);
}

.skill,
.skill-name {
  align-self: center;
  margin-right: 4vw;
  margin-left: 3.5vw;
}

.skill {
  align-self: flex-end;
  width: 80px;
  border-top: 1px solid black;
}
#about-me {
  background-color: rgb(243, 239, 231);
  padding: 10vh 0;
}

#skills {
  background-color: rgb(243, 239, 231);
  padding: 10vh 0;
}

#experience {
  background-color: rgb(243, 239, 231);
  padding: 10vh 0;
}

#contact-me {
  background-color: rgb(243, 239, 231);
  padding: 10vh 0 5vh;
}
